<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KebaberIIE - Les meilleurs avis sur les kebabs</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <header class="main-header">
            <div class="container">
                <!-- Logo -->
                <h1 class="logo">KebaberIIE</h1>
                
                <!-- Navigation -->
                <nav class="nav-buttons">
                    <form action="{{ url_for('index') }}" method="GET" class="search-form">
                        <input type="text" name="query" placeholder="Rechercher un restaurant..." class="btn-add" value="{{ request.args.get('query', '') }}">
                        <button type="submit" class="btn-add">Rechercher</button>
                    </form>
                    <!-- Formulaire de recherche -->
                    <a href="{{ url_for('formulaire_restaurant') }}" class="btn-add">Ajouter un restaurant</a>
                </nav>
            </div>
        </header>

    
        <!-- Main Content -->
        <main class="main-content">
            <h2 class="section-title">Nos restaurants</h2>
    
            <!-- Liste des restaurants -->
            <div class="restaurant-list">
                {% if restaurants %}
                    <!-- Si des restaurants existent, on les affiche dans un tableau -->
                    <table class="restaurant-table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Code Postal</th>
                                <th>Site Web</th>
                                <th>Photo</th>
                                <th>Note Moyenne</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for restaurant in restaurants %}
                                <tr>
                                    <!-- Nom -->
                                    <td class="{{ 'non-renseigne' if not restaurant[1] else '' }}">
                                        <a href="restaurant/{{ restaurant[0] }}">{{ restaurant[1] if restaurant[1] else 'Non renseigné' }}</a>
                                    </td>
                        
                                    <!-- Adresse -->
                                    <td class="{{ 'non-renseigne' if not restaurant[2] else '' }}">
                                        {{ restaurant[2] if restaurant[2] else 'Non renseigné' }}
                                    </td>
                        
                                    <!-- Code Postal -->
                                    <td class="{{ 'non-renseigne' if not restaurant[3] else '' }}">
                                        {{ restaurant[3] if restaurant[3] else 'Non renseigné' }}
                                    </td>
                        
                                    <!-- Site Web -->
                                    <td class="{{ 'non-renseigne' if not restaurant[4] else '' }}">
                                        {% if restaurant[4] %}
                                            <a href="{{ restaurant[4] }}" target="_blank">Visiter</a>
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </td>
                        
                                    <!-- Photo -->
                                    <td class="{{ 'non-renseigne' if not restaurant[5] else '' }}">
                                        {% if restaurant[5] %}
                                            <img src="{{ restaurant[5] }}" alt="Photo" class="restaurant-photo">
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </td>
                        
                                    <!-- Note Moyenne -->
                                    <td class="{{ 'non-renseigne' if not restaurant[7] else '' }}">
                                        {{ '{:.1f}'.format(restaurant[7]) if restaurant[7] else 'Non renseigné' }}
                                    </td>
                        
                                    <!-- Prix -->
                                    <td class="{{ 'non-renseigne' if not restaurant[6] else '' }}">
                                        {{ get_price_range(restaurant[6]) if restaurant[6] else 'Non renseigné' }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Aucun restaurant trouvé.</p>
                {% endif %}
            </div>
        </main>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 KebaberIIE. Tous droits réservés.</p>
    </footer>

</body>